.bg-style {
    --ion-background-color : linear-gradient(#fffde4, #9ebdd8) !important;
  }
  
  .padding {
    padding: 5%;
    //padding-top: 7%;
  }
  .logo {
    height: 250px;
    position: relative;
  }